* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Navbar Section */
.navbar{
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: white;
    z-index: 1000;
    padding: 0 20px;
}